@use '/node_modules/bootstrap/scss/bootstrap.scss' as *;

body {
    overflow-x: hidden;
}

.header_link {
    color: white;
    text-decoration: none;
}

.header_link.router-link-active {
    color: #ff0080;
    background-color: white;
}

.container {
    padding: 2rem 0;
}

header {
    /* background-color: #d85b8d; */
    font-family: 'DM Sans', sans-serif;
    background-color: #d890f3;
    .navbar {
        height: 78px;
        .navbar-brand {
            font-size: 1.5rem;
        }
    }

}

main {
    background-color: #d890f3;
    min-height: calc(100vh - 78px);
    background-image: url('../img/svg\ \(1\).png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.jumbotron {
    .btn_proj {
        text-decoration: none;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }
}

.projects_container {
    h1 {
        font-family: 'DM Serif Display', serif; 
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
    }
    .project_container.proj_with_bg {
        background-color: #ffffff8f;
    }
    img {
        height: 200px;
        width: 300px;
        object-fit: cover;
        object-position: top;
        border-radius: 5px;
    }
    h2 {
        font-family: 'DM Serif Display', serif; 
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }
    p {
        font-family: 'DM Sans', sans-serif;
    }
}

footer {
    background-color: #ff0080;
}

@media screen and (min-width: 768px) {
    .navbar-brand, .resume_btn {
        width: 240px;
    
    }
    .project_container {
        height: 400px;
        .img_wrapper {
            width: 480px;
            .second-img {
                top: 120px;
                left: 180px;
            }
        }
    }
    .resume_btn {
        text-align: end;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 70%;
    }
    
}